html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
    font-size: 16px;
    font-family: "Nanum Myeongjo", serif;
    line-height: 24px;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h1,
h2,
h3,
h4 {
    font-family: "Cinzel", serif;
}

footer {
    background-color: var(--primary);
    background-image: url("../images/back-pattern.png");
    color: white;
}

:root {
    --primary: #809bce;
    --secondary: #95b8d1;
    --tertiary: #b8e0d2;
}

a {
    color: #eac4d5;
}
